body {
  font-family: "DM Sans", sans-serif;
  color: black;
}

/* Header */

#header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3vh;
}

.header-brand-text {
  font-weight: bold;
  font-size: 1.5em;
  letter-spacing: 0.05em;
}

.header-brand-logo {
  width: 32px;
}

/* Utility */

.base-button {
  background-color: white;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  border: 1px solid black;
  border-radius: 1em 0 1em 0;
  box-shadow: 0.05em 0.05em gray;
  cursor: pointer;
}

.small-text {
  font-size: 0.9em;
}

.grey-text {
  color: rgb(117, 117, 117);
}

.medium-text {
  font-size: 1.2em;
}

.disable-scrollbars::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* Chrome/Safari/Webkit */
}

.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
