@import "base.css";

#chatroom-container {
  display: grid;
  grid-template-columns: 4vw 42vw 42vw 4vw;
  grid-template-rows: 60vh 8vh 10vh;
  row-gap: 2vh;
  justify-content: space-around;
  grid-template-areas:
    ". main main ."
    ". input input ."
    ". button-left button-right .";
}

#chatroom-message-area {
  grid-area: main;
  /* border: 1px solid black; */
  /* background: #bcd0dc; */
  box-shadow: inset 1em 1em 1.8em #a0b1bb, inset -1em -1em 1.8em #d8effd;
  border-radius: 1em;
  text-align: left;
  padding: 1em 1.5em;
  resize: none;
}

#chatroom-type-input {
  grid-area: input;
  /* background-color: #f2f2f2; */
  font-family: "DM Sans", sans-serif;
  font-size: 1em;
  font-weight: normal;
  border: none;
  border-radius: 1em;
  /* box-shadow: 0.05em 0.05em lightgray; */
  background: #bcd0dc;
  box-shadow: 1em 1em 1.8em #a0b1bb, -1em -1em 1.8em #d8effd;
  padding: 0.8em 1em;
  text-align: left;
  overflow: scroll;
}

#chatroom-type-input:focus {
  outline: none;
}

#chatroom-exit-button {
  grid-area: button-left;
}

#chatroom-send-button {
  grid-area: button-right;
}

@media screen and (min-width: 800px) {
  #chatroom-container {
    display: grid;
    grid-template-columns: 8vw 10vw 60vw 10vw 8vw;
    grid-template-rows: 65vh 15vh;
    row-gap: 2vh;
    column-gap: 1vw;
    /* justify-content: space-between; */

    grid-template-areas:
      ". main main main ."
      ". button-left input button-right .";
  }

  #chatroom-message-area {
    padding: 2em;
  }
}
