@import "base.css";

#home-container {
  text-align: center;
  margin: 0 1em;
}

.home-chat-button {
  display: block;
  margin: 1.5em auto 0.8em;
  padding: 0.8em 2em;
}

/* Footer */

.home-footer {
  display: flex;
  margin-top: 3em;
  align-items: center;
  justify-content: center;
}

.github-logo {
  width: 20px;
  margin-right: 0.3em;
}

/* Tag Input Field */

.bootstrap-tagsinput {
  background-color: #f2f2f2;
  font-family: "DM Sans", sans-serif;
  font-size: 1em;
  font-weight: normal;
  border: none;
  border-radius: 1em;
  box-shadow: 0.05em 0.05em lightgray;
  text-align: left;
  padding: 0.8em 1em;
  width: 80%;
}

.bootstrap-tagsinput .tag {
  background-color: white;
  border: 1px solid #656565;
  font-weight: 500;
  border-radius: 2em;
  box-shadow: 0.05em 0.05em lightgray;
  font-size: 1em;
  line-height: 2em;
  padding: 0.2em 1em;
  color: black;
}

@media screen and (min-width: 800px) {
  .bootstrap-tagsinput {
    width: 60%;
  }
}
