{% extends 'base.html' %} {% load static %} {% block content %}

<head>
  <link rel="stylesheet" href="{% static 'css/chatroom.css' %}" />
</head>

<div id="chatroom-container">
  <div id="chatroom-message-area" class="disable-scrollbars"></div>

  <button
    id="chatroom-exit-button"
    type="submit"
    class="base-button"
    value="Exit (press esc)"
  >
    exit <span class="grey-text">(esc)</span>
  </button>
  <textarea
    id="chatroom-type-input"
    class="disable-scrollbars"
    type="text"
    placeholder="Type here..."
    autofocus
  ></textarea>
  <button
    id="chatroom-send-button"
    type="submit"
    class="base-button"
    value="Submit (press enter)"
  >
    submit <span class="grey-text">(enter)</span>
  </button>
</div>

{% endblock content %}
