{% extends 'base.html' %} {% load static %} {% block content %}

<head>
  <link rel="stylesheet" href="{% static 'css/chatroom.css' %}" />
</head>

<div id="chatroom-message-area" class="disable-scrollbars">
  <!-- <input type="text" id="chat-input" /> -->
</div>

<div id="chatroom-footer">
  <button
    id="chatroom-exit-button"
    type="submit"
    class="chat-button"
    value="Exit (press esc)"
  >
    exit
  </button>
  <input id="chatroom-type-field" type="text" />
  <button
    id="chatroom-send-button"
    type="submit"
    class="chat-button"
    value="Submit (press enter)"
  >
    submit
  </button>
</div>

{% endblock content %}
