{% extends 'base.html' %} {% load static %} {% block content %}

<head>
  <link rel="stylesheet" href="{% static 'css/index.css' %}" />
</head>

<p id="question-text">what do you want to talk about?</p>

<form action="/tags" method="post">
  {% csrf_token %}
  <input
    type="text"
    value="Amsterdam,Washington,Sydney,Beijing,Cairo"
    data-role="tagsinput"
  />
  <input class="chat-button" type="submit" value="start chatting" />
</form>

<p class="small-text">
  (all your messages are secured with 256-bit encryption and not stored into any
  database)
</p>

<div class="footer">
  <img
    class="github-logo"
    src="{% static 'images/github-logo.png' %}"
    alt="Github Logo"
  />
  <a href="https://github.com/callistachang" class="small-text" target="_blank"
    ><u>my github</u></a
  >
</div>

{% endblock content %}
