{% extends 'base.html' %} {% load static %} {% block content %}

<head>
  <link rel="stylesheet" href="{% static 'css/index.css' %}" />
</head>

<p id="medium-text">what do you want to talk about?</p>

<!-- Search form -->
<form action="{% url 'tags' %}" method="post">
  {% csrf_token %}
  <!-- input[name="tags"] is required for this form to work -->
  <input type="text" data-role="tagsinput" id="tags" name="tags" />
  <!-- input[type="submit"] is required for this form to work -->
  <input class="base-button" type="submit" value="start chatting"></input>
</form>

<p class="small-text">
  (all your messages are secured with 256-bit encryption and not stored into any
  database)
</p>

<div class="home-footer">
  <img
    class="github-logo"
    src="{% static 'images/github-logo-32px.png' %}"
    alt="Github Logo"
  />
  <a href="https://github.com/callistachang" class="small-text" target="_blank"
    ><u>my github</u></a
  >
</div>
{% endblock content %}
